[submodule "MABEngine/vendor/spdlog"]
	path = MABEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MABEngine/vendor/GLFW"]
	path = MABEngine/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "MABEngine/vendor/ImGUI/imgui"]
	path = MABEngine/vendor/ImGUI/imgui
	url = https://github.com/ocornut/imgui
[submodule "MABEngine/vendor/glm"]
	path = MABEngine/vendor/glm
	url = https://github.com/g-truc/glm
