[submodule "MABEngine/vendor/spdlog"]
	path = MABEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MABEngine/vendor/GLFW"]
	path = MABEngine/vendor/GLFW
	url = https://github.com/glfw/glfw.git
